{:description "TODO: Provide a meaningful description of the project"
 ;; this does not transform the data but does print a message:
 :data-fn practicalli.template.service/data-fn
 ;; this does not transform the EDN but does print a message:
 :template-fn practicalli.template.service/template-fn
 :transform
 [["build" ""
   {"build.clj.template" "build.clj"
    "deps.edn.template"  "deps.edn"}]
  ["src" "src/{{top/file}}"
   {"service.clj.template" "{{main/file}}.clj"}]
  ["test" "test/{{top/file}}"
   {"service_test.clj.template" "{{main/file}}_test.clj"}]]}
