{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}}

 :aliases
 {;; Add libraries and paths to support additional test tools
  :test/env
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                io.github.seancorfield/deps-new
                {:git/tag "v0.5.2" :git/sha "253f32a"}}}

  ;; Test runner - local and CI
  ;; call with `:watch? true` argument to start file watcher and re-run tests on saved changes
  :test/run
  {:extra-paths ["test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.84.1335"}}
   :main-opts   ["-m" "kaocha.runner"]
   :exec-fn kaocha.runner/exec-fn
   :exec-args {:randomize? false
               :fail-fast? true}}}}
