{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.12.2"}}

 :aliases
 {;; Add libraries and paths to support additional test tools
  :test/env
  {:extra-paths ["test"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                ;; https://github.com/seancorfield/deps-new/
                io.github.seancorfield/deps-new
                {:git/tag "v0.8.0" :git/sha "2f96530"}}}

  ;; Test runner - local and CI
  ;; call with `:watch? true` argument to start file watcher and re-run tests on saved changes
  :test/run
  {:extra-paths ["test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
   :main-opts   ["-m" "kaocha.runner"]
   :exec-fn kaocha.runner/exec-fn
   :exec-args {:randomize? false
               :fail-fast? true}}}}
