;; ---------------------------------------------------------
;; Default Kaocha test runner configuration
;;
;; Brief description
;; ---------------------------------------------------------

#kaocha/v1 {}
