(ns {{top/ns}}.{{main/ns}}-test
  (:require [clojure.test :refer [deftest is testing]]
            [{{top/ns}}.{{main/ns}} :as {{main/ns}}]))

(deftest service-test
  (testing "TODO: Start with a failing test, make it pass, then refactor"
    (is (= ({{main/ns}}/greet)
            "Welcome to Clojure everyone"))
    (is (= ({{main/ns}}/greet "Practicalli")
            "Welcome to Clojure Practicalli"))))


(deftest application-test
  (testing "TODO: Start with a failing test, make it pass, then refactor"

    ;; TODO: fix greet function to pass test
    (is (= ({{main/ns}}/greet)
            "{{top/ns}} service developed by the secret engineering team"))

    ;; TODO: fix test by calling greet with {:team-name "Practicalli Engineering"}
    (is (= ({{main/ns}}/greet "Practicalli Engineering")
            "{{top/ns}} service developed by the Practicalli Engineering team"))))
