{;; Values to pass into the template
 :description "TODO: Provide a meaningful description of the project"

 ;; ---------------------------------------------------------
 ;; Version substitutions

 :clojure-version "1.11.1"

 ;; ---------------------------------------------------------

 ;; ---------------------------------------------------------
 ;; Optional features
 ;; - used by programatic transformation
 ;; - not implemented yet
 :cache nil ; one of "redis" "dynamodb"
 :component nil ; one of "integrant" "mount" "donut"
 :persistence nil ; one of "postgres" "h2" "xtdb" "mariadb"
 :router nil ; one of "reitit"
 ;; ---------------------------------------------------------

 ;; ---------------------------------------------------------
 ;; Programatic Transformation functions

 :data-fn practicalli.service/substitutions

 :template-fn practicalli.service/template-edn
 ;; ---------------------------------------------------------

 ;; ---------------------------------------------------------
 ;; Declarative Transformation rules
 ;; - can be updated by programmatic transformation
 ;;
 ;; Form:
 ;; [["directory-name" "default-path"
 ;;   {"source-file.extension.template" "destination-file.extension"}]]

 :transform
 [["api" "src/{{top/file}}/{{main/file}}/api"
   {"system_admin.clj.template" "system_admin.clj"
    "scoreboard.clj.template" "scoreboard.clj"}]
  ["build" ""
   {"build.clj.template" "build.clj"
    "deps.edn.template"  "deps.edn"}
   :only]
  ["dev" "dev"
   {"system_repl.clj.template" "system_repl.clj"
    "user.clj" "user.clj"}
   :only]
  ["docker" ""
   {"compose-service.yaml.template" "compose.yaml"
    "compose-service-postgres.yaml.template"  "compose-service-postgres.yaml"
    "Dockerfile.template" "Dockerfile"}]
  ["src" "src/{{top/file}}/{{main/file}}"
   {"middleware.clj.template" "middleware.clj"
    "router.clj.template" "router.clj"
    "service.clj.template" "service.clj"
    "spec.clj.template" "spec.clj"}
   :only]
  ["test" "test/{{top/file}}/{{main/file}}"
   {"service_test.clj.template" "service_test.clj"}]]}
;; ---------------------------------------------------------
