{;; Values to pass into the template
 :description "TODO: Provide a meaningful description of the project"

 ;; ---------------------------------------------------------
 ;; Version substitutions

 ;; Tool versions
 :clojure-cli-version "1.11.1"

 ;; Library versions
 :mulog-version "0.9.0"
 :kaocha-version "1.80.1274"
 :tools-build-tag "v0.9.4"
 :tools-build-sha "76b78fe"
 ;; ---------------------------------------------------------

 ;; ---------------------------------------------------------
 ;; Optional features - used by programatic transformation
 :cache nil ; one of "redis" "dynamodb"
 :component nil ; one of "integrant" "mount" "donut"
 :persistence nil ; one of "postgres" "h2" "xtdb" "mariadb"
 :router nil ; one of "reitit"
 ;; ---------------------------------------------------------

 ;; ---------------------------------------------------------
 ;; Programatic Transformation functions
 ;; - `src/practicalli/service.clj`
 :data-fn practicalli.service/data-fn
 :template-fn practicalli.service/template-fn
 ;; ---------------------------------------------------------

 ;; ---------------------------------------------------------
 ;; Declarative Transformation rules
 ;; - can be updated by programmatic transformation
 :transform
 [["build" ""
   {"build.clj.template" "build.clj"
    "deps.edn.template"  "deps.edn"}]
  ["src" "src/{{top/file}}"
   {"service.clj.template" "{{main/file}}.clj"
    "parse_system.clj.template" "parse_system.clj"}]
  ["test" "test/{{top/file}}"
   {"service_test.clj.template" "{{main/file}}_test.clj"}]]}
 ;; ---------------------------------------------------------
