## ---------------------------------------------------------
## Git Ignore Patterns

# Include Tool specific patterns in global ignore
# https://github.com/practicalli/dotfiles/blob/main/git/ignore

# Clojure project ignore files
pom.xml
pom.xml.asc
.nrepl-port
.nrepl-history
.socket-repl-port
/target/

## ---------------------------------------------------------
