;; ---------------------------------------------------------
;; {{top/ns}}.{{main/ns}}-test
;;
;; Example unit tests for {{top/ns}}.{{main/ns}}
;; ---------------------------------------------------------

(ns {{top/ns}}.{{main/ns}}-test
  (:require [clojure.test :refer [deftest is testing]]
            [{{top/ns}}.{{main/ns}} :as {{main/ns}}]))

(deftest service-test
  (testing "TODO: Start with a failing test, make it pass, then refactor"
    (is (= ({{main/ns}}/greet)
            "{{top/ns}} service developed by the secret engineering team"))
    (is (= ({{main/ns}}/greet "Practicalli Engineering")
            "{{top/ns}} service developed by the Practicalli Engineering team"))))
